
$green: #36BF7A;
$greenDark: #2A9A62;
$blue: #0060a8;
$gray: #A2A2A2;
$grayDark: #4A4A4A;
$grayLight: #E5E5E5;

$shadow: rgba(0,0,0,0.15);

$light: "Roboto-Light";
$regular: "Roboto-Regular";
$bold: "Roboto-Bold";


 